---
const { title = "astro" } = Astro.props;
import Attributtion from "../components/Attribution.astro";
import favicon from "../../public/favicon.svg";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href={favicon} type="image/x-icon" />
    <title>{title}</title>
  </head>
  <body
    class="font-robotoRegular text-dark-slate-grey md:bg-dark-slate-grey flex flex-col md:flex md:items-center md:justify-center justify-between min-h-screen overflow-hidden"
  >
    <slot />
    <Attributtion />
  </body>
</html>
<!-- CSS -->
<style>
  /*-------- CUSTOM FONT ------------*/
  @font-face {
    font-family: "roboto-bold";
    src: url("/fonts/Roboto-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "roboto-regular";
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  }
</style>
<!-- JAVASCRIPT -->
<script>import { BASE_URL } from "../../config";


  window.addEventListener("DOMContentLoaded", (event) => {
    const subscribed = JSON.parse(localStorage.getItem("subscribe"));

    if (subscribed && window.location.pathname == "/") {
      window.location.href = `${BASE_URL}/success`;
    } else if (
      window.location.pathname == `${BASE_URL}/success` &&
      !subscribed
    ) {
      window.location.href = `${BASE_URL}/`;
    }
  });
</script>
